main article a {
    text-decoration: none;
    color: rgb(46, 46, 46);
    height: 100;
    transition: background-color 0.2s, text-decoration 0.2s;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 8px;
}

main article a:hover {
    background-color: rgb(196, 196, 196);
    text-decoration: underline;
}

main article a:hover p {
    text-decoration: none;
}

main article a h2 {
    font-size: 1.5em;
    margin-bottom: 8px;
}

main article a p {
    font-size: 0.9em;
    font-weight: bolder;
}

main article div#tristeza {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-grow: 1;
}

main article div#tristeza p {
    color: rgb(161, 161, 161);
    font-size: 1.5em;
}
